%h1 Instagram-Clone
%ul
-@posts.each do |post|
  .post
    .post-head
      .postedby
        =post.user.user_name
        posted this!
      .image.center-block
        =link_to (image_tag post.image.url(:medium)), post_path(post)
        %br/
        =post.caption
        %br/
        - if post.comments
          - post.comments.each do |comment|
            .comment
              .user-name
                = comment.user.user_name
                =':'
                = comment.content
        .comment-form
          = form_for [post, post.comments.new] do |f|
            = f.text_field :content, id:"submit_comment", placeholder: 'Add a comment please...'
            = f.button :Submit
